* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px;
    color: aqua;
    background-color: bisque;
    border: 3px solid black
}


.box {
    height: 100px;
    width: 460px;
    margin: 10px;
    padding: 10px;
    border: 3px solid red;
}

.box1 {
    background-color: aqua;
    position: sticky;
}

.box2 {
    background-color: aliceblue;
    position: fixed;
    /* position: relative; */
    top: 35px;
    left: 20px;

}

.box3 {
    background-color: bisque;
}

.box4 {
    background-color: blueviolet;

}

.text {
    padding: 10px;
    margin: 20px;
    background-color: burlywood;
    border-radius: 10px;
    color: black;
}