* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px;
    color:aqua;
    background-color: bisque;
    border:3px solid black
}
.box {
    padding: 10px;
    border: 5px solid red;
    margin: 5px;
    width: 80vw;
    height:70vh;
    overflow: auto;
    /* white-space:nowrap; */

}