
/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
} 

body {
  background-color: #f4f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #444;
  font-size: 2em;
  font-weight: bold;
  border-bottom: 2px solid #ccc; 
  padding-bottom: 5px;
} 


form {
  background-color: white;
  padding: 30px;
  width: 420px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}


label,
p {
  font-weight: bold;
  color: #444;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea,
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

textarea {
  resize: vertical;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
  margin-top: 10px;
}

input[type="submit"],
input[type="reset"] {
  width: 48%;
  padding: 10px;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

input[type="reset"] {
  background-color: #dc3545;
  color: white;
  float: right;
}

input[type="reset"]:hover {
  background-color: #a71d2a;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
}